<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Chorus Speaker</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Chorus 需要同一 Wi‑Fi，才能被电脑端找到并一起同步播放。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_chorus._tcp</string>
	</array>
</dict>
</plist>
