<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Chorus</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Chorus 需要同一 Wi‑Fi，才能找到附近的设备一起听。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>同步电脑正在播放的声音时，需要读取虚拟声卡输入。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_chorus._tcp</string>
	</array>
</dict>
</plist>
